@font-face {
  font-family: 'Segoe UI Web (West European)';
  src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2") format("woff2"), url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Web (West European)';
  src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff2") format("woff2"), url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#203862), to(#4356ad));
  background: linear-gradient(180deg, #203862 0%, #4356ad 100%);
  background-repeat: no-repeat;
}

@media only screen and (min-width: 1024px) {
  html {
    background-size: 100% 800px;
  }
}

body {
  font-family: 'Segoe UI Local', 'Segoe UI Web (West European)';
}

h1 {
  font-weight: 100;
  color: #ffff;
  font-size: calc(24px + 24 * ((100vw - 320px) / 1024));
  line-height: 1.21;
  letter-spacing: normal;
  font-stretch: normal;
}

@media (max-width: 320px) {
  h1 {
    font-size: 24px;
  }
}

@media (min-width: 1344px) {
  h1 {
    font-size: 48px;
  }
}

p {
  font-size: calc(16px + 8 * ((100vw - 320px) / 1024));
  font-weight: 300;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 48px;
}

@media (max-width: 320px) {
  p {
    font-size: 16px;
  }
}

@media (min-width: 1344px) {
  p {
    font-size: 24px;
  }
}

.header {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .header {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    height: 72px;
  }
  .header else {
    -webkit-box-pack: flex-end;
    -ms-flex-pack: flex-end;
  }
}

.header-container_socialmedia {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
}

.email {
  margin-right: 10px;
}

.twitter {
  margin-right: 40px;
}

.main {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}

.main-container {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-items: center;
  align-items: center;
}

.main-container else {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

@media only screen and (min-width: 1024px) {
  .main-container {
    width: 645px;
    height: 116px;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-box-items: flex-start;
    align-items: flex-start;
    margin: 164px 0px 0px 167px;
  }
  .main-container else {
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
  }
}

.main-container_logo {
  width: 132px;
  height: 42px;
  margin: 40px 94px 0px 94px;
}

@media only screen and (min-width: 1024px) {
  .main-container_logo {
    margin: 0px 0px 0px 0px;
    position: absolute;
  }
}

.iphoneimage {
  width: 221px;
  height: 184px;
  margin-top: 26px;
}

@media only screen and (min-width: 1024px) {
  .iphoneimage {
    display: none;
  }
}

.iphoneimage-mobile {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0px 11px 0px 12px;
  width: 198px;
  height: 184px;
}

@media only screen and (min-width: 1024px) {
  .iphoneimage-mobile {
    -o-object-fit: none;
       object-fit: none;
  }
}

.content {
  width: 280px;
  height: 84px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .content {
    width: 380px;
    height: 84px;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  .content {
    width: 100%;
    text-align: left;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-box-items: flex-start;
    align-items: flex-start;
  }
}

.content-title {
  margin-top: 25px;
  vertical-align: middle;
}

@media only screen and (min-width: 1024px) {
  .content-title {
    margin-top: 71px;
    margin-bottom: 29px;
  }
}

.iphoneimage-desktop {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .iphoneimage-desktop {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    width: 374px;
    height: 732px;
    margin: 74px 0px 0px 274px;
    -webkit-transform: translate(-25px, -25px);
            transform: translate(-25px, -25px);
  }
}

.content-form {
  width: 280px;
  height: 45px;
}

@media only screen and (min-width: 1024px) {
  .content-form {
    width: 400px;
    height: 55px;
  }
}

.content-form_input {
  width: 177px;
  height: 45px;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  position: absolute;
  border-radius: 8px 0px 0px 8px;
  border: none;
  padding-left: 11px;
}

.content-form_input::-webkit-input-placeholder {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1024px));
  font-weight: 300;
  color: #9fa3a7;
}

@media (max-width: 320px) {
  .content-form_input::-webkit-input-placeholder {
    font-size: 16px;
  }
}

@media (min-width: 1344px) {
  .content-form_input::-webkit-input-placeholder {
    font-size: 20px;
  }
}

.content-form_input:-moz-placeholder {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1024px));
  font-weight: 300;
  color: #9fa3a7;
}

@media (max-width: 320px) {
  .content-form_input:-moz-placeholder {
    font-size: 16px;
  }
}

@media (min-width: 1344px) {
  .content-form_input:-moz-placeholder {
    font-size: 20px;
  }
}

.content-form_input:-ms-input-placeholder {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1024px));
  font-weight: 300;
  color: #9fa3a7;
}

@media (max-width: 320px) {
  .content-form_input:-ms-input-placeholder {
    font-size: 16px;
  }
}

@media (min-width: 1344px) {
  .content-form_input:-ms-input-placeholder {
    font-size: 20px;
  }
}

.content-form_input::-moz-placeholder {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1024px));
  font-weight: 300;
  color: #9fa3a7;
}

@media (max-width: 320px) {
  .content-form_input::-moz-placeholder {
    font-size: 16px;
  }
}

@media (min-width: 1344px) {
  .content-form_input::-moz-placeholder {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .content-form_input {
    width: 278px;
    height: 55px;
  }
}

@media only screen and (min-width: 1024px) {
  .content-form_input {
    width: 278px;
    height: 55px;
  }
}

.content-form_button {
  width: 92px;
  height: 47px;
  display: inline;
  margin-left: 177px;
  border-radius: 0px 8px 8px 0px;
  border: none;
  background-color: tomato;
  color: #ffff;
  letter-spacing: 2.8px;
  font-weight: 700;
  font-size: 0.875rem;
}

@media only screen and (min-width: 768px) {
  .content-form_button {
    width: 122px;
    height: 57px;
    margin-left: 290px;
  }
}
/*# sourceMappingURL=app.css.map */