@font-face {
  font-family: 'Segoe UI Web (West European)';
  src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2") format("woff2"), url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Web (West European)';
  src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff2") format("woff2"), url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html {
  background: -webkit-gradient(linear, left top, right bottom, from(#142d4c), color-stop(66%, #3f51ad), color-stop(77%, #435ab6), color-stop(77%, #435ab6), color-stop(764%, #62a7ff));
  background: linear-gradient(to bottom right, #142d4c 0%, #3f51ad 66%, #435ab6 77%, #435ab6 77%, #62a7ff 764%);
  background: -ms-linear-gradient(to bottom right, #142d4c 0%, #3f51ad 66%, #435ab6 77%, #435ab6 77%, #62a7ff 764%);
  filter: progid:DXImageTransform.Microsoft.gradient to bottom right, #142d4c 0%, #3f51ad 66%, #435ab6 77%, #435ab6 77%, #62a7ff 764%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

@media only screen and (min-width: 1200px) {
  html {
    background-size: 100% 750px;
  }
}

@media only screen and (min-width: 1400px) {
  html {
    background-size: 100% 748px;
  }
}

body {
  font-family: 'Segoe UI Local', 'Segoe UI Web (West European)';
  overflow-x: hidden;
}

h1 {
  font-size: calc(24px + 24 * ((100vw - 320px) / 1600));
  font-weight: 100;
  color: white;
  color: -webkit-text-fill-color(white);
  line-height: 1.21;
  margin: 0;
}

@media (max-width: 320px) {
  h1 {
    font-size: 24px;
  }
}

@media (min-width: 1920px) {
  h1 {
    font-size: 48px;
  }
}

p {
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
  font-weight: 300;
  color: #a8a8a8;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  line-height: 1.5;
  margin: 0;
}

@media (max-width: 320px) {
  p {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  p {
    font-size: 24px;
  }
}

.header-container {
  display: none;
}

.header-container_socialmedia {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}

.email {
  margin-right: 10px;
}

.main-container {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-items: center;
  align-items: center;
}

.main-container else {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.iphoneimage {
  width: 221px;
  height: 194px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 10px;
}

@media only screen and (min-width: 992px) {
  .iphoneimage {
    position: absolute;
    top: 0;
    left: 15%;
    width: 374px;
    height: 732px;
    margin-top: 72px;
    width: 80%;
  }
}

.iphoneimage-mobile {
  width: 198px;
  height: 184px;
  margin-left: 12px;
  margin-right: 11px;
  margin-top: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 0%;
     object-position: 0% 0%;
}

@media only screen and (min-width: 992px) {
  .iphoneimage-mobile {
    width: 374px;
    height: 702px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.logo {
  width: 132px;
  height: 42px;
  margin-top: 40px;
}

@media only screen and (min-width: 992px) {
  .logo {
    width: 132px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 55%;
    z-index: 1;
    margin-top: 164px;
  }
}

.content {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-top: 23px;
}

.content else {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

@media only screen and (min-width: 992px) {
  .content {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-box-items: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 55%;
    text-align: left;
    margin-top: 235px;
  }
}

.content-title {
  margin-bottom: 9px;
  text-align: center;
  max-width: 100%;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .content-title {
    text-align: center;
    margin-bottom: 9px;
    width: 60%;
  }
}

@media only screen and (min-width: 992px) {
  .content-title {
    text-align: left;
    margin-bottom: 26px;
    width: 90%;
  }
}

@media only screen and (min-width: 1400px) {
  .content-title {
    text-align: left;
    width: 80%;
  }
}

.content-subtitle {
  text-align: center;
  width: 95%;
  margin-bottom: 26px;
}

@media only screen and (min-width: 600px) {
  .content-subtitle {
    text-align: center;
    margin-bottom: 26px;
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .content-subtitle {
    text-align: left;
    width: 80%;
    margin-bottom: 46px;
  }
}

@media only screen and (min-width: 1400px) {
  .content-subtitle {
    text-align: left;
    width: 70%;
  }
}

.content-form {
  width: 280px;
  height: 45px;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .content-form {
    width: 278px;
    height: 55px;
    margin-top: 0px;
  }
}

.content-form_input {
  width: 177px;
  height: 45px;
  border-radius: 8px 0px 0px 8px;
  border: none;
  padding-left: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-form_input::-webkit-input-placeholder {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  font-weight: 200;
  color: #9fa3a7;
}

@media (max-width: 320px) {
  .content-form_input::-webkit-input-placeholder {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  .content-form_input::-webkit-input-placeholder {
    font-size: 20px;
  }
}

.content-form_input:-moz-placeholder {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  font-weight: 200;
  color: #9fa3a7;
}

@media (max-width: 320px) {
  .content-form_input:-moz-placeholder {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  .content-form_input:-moz-placeholder {
    font-size: 20px;
  }
}

.content-form_input:-ms-input-placeholder {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  font-weight: 200;
  color: #9fa3a7;
}

@media (max-width: 320px) {
  .content-form_input:-ms-input-placeholder {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  .content-form_input:-ms-input-placeholder {
    font-size: 20px;
  }
}

.content-form_input::-moz-placeholder {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  font-weight: 200;
  color: #9fa3a7;
}

@media (max-width: 320px) {
  .content-form_input::-moz-placeholder {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  .content-form_input::-moz-placeholder {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .content-form_input {
    width: 278px;
    height: 55px;
  }
}

.content-form_button {
  width: 92px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  margin-left: 177px;
  background-color: tomato;
  color: white;
  letter-spacing: 2.8px;
  font-weight: 700;
  font-size: 0.875rem;
  border-radius: 0px 8px 8px 0px;
  border: none;
}

@media only screen and (min-width: 992px) {
  .content-form_button {
    width: 122px;
    height: 55px;
    margin-left: 269px;
  }
}
/*# sourceMappingURL=app.css.map */