@mixin responsive($media)
{
    @if $media == phone 
    {
        @media only screen and (max-width: $small) 
        {
            @content;
        }
    }   
        @else if $media == tablet
    {
        @media only screen and (min-width: $medium)
        {
            @content;
        }
    } 
        @else if $media == desktop

    {
        @media only screen and (min-width: $large)
    { 
        @content;
    }
    }
}

@mixin maintain-ratio($ratio: 1 1) {
    @if length($ratio) < 2 or length($ratio) > 2 {
      @warn "$ratio must be a list with two values.";
    }
    height: 0;
    padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
    width: 100%;
  }


