//CONTENT - type features
$primarytext-color: #ffff;
$secondarytext-color: rgba(255, 255, 255, 0.60);
//$secondarytext-color: red;
$buttoncolor: tomato;
$placeholder-color: #9fa3a7;


//BREAKPOINTS

$small: 320px;//320px; //mobile
$medium: 768px; //tablet - 768
$large: 1024px; //desktop



//BG GRADIENT   
$startBlue: rgba(32,56,98,1);
$endBlue: rgba(67,86,173,1); 

$list: $startBlue 0%, $endBlue 100%;

//image
$margin: 20px;
$aspect-width: 8;
$aspect-height: 3;
$constant: ($margin * $aspect-width) / ($aspect-height * 3);
