

//CONTENT - type features
$primarytext-color: #ffff;
$secondarytext-color: rgba(255, 255, 255, 0.60);
//$secondarytext-color: red;
$buttoncolor: tomato;
$placeholder-color: #9fa3a7;

$font-weights:(
    "normal": 100,
    "regular": 300,
);


//$minFont: 1rem;
//$maxFont: 1.5rem;
$fontName: "Segoe UI Light", "Segoe WPC", "Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif;

//BREAKPOINTS

$small: 320px; //mobile
$medium: 768px; //tablet
$large: 1280px; //desktop


//FLUID TYPE

//BGDxzq1   
$startBlue: rgba(32,56,98,1);
$endBlue: rgba(67,86,173,1); 

$list: $startBlue 0%, $endBlue 100%;