

//CONTENT - type features
$primarytext-color: #ffff;
$secondarytext-color: rgba(255, 255, 255, 0.87);
//$secondarytext-color: red;
$buttoncolor: tomato;
$placeholder-color: #9fa3a7;

$font-weights:(
    "normal": 100,
    "regular": 300,
);

$min-fontsize: 1rem;
$max-fontsize: 1.5rem;
$font-family-sans-serif: "Segoe UI Light", "Segoe WPC", "Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif;

//BREAKPOINTS

$small: 320px; //mobile
$medium: 768px; //tablet
$large: 1280px; //desktop


//FLUID TYPE

//BGD

$background-color: grey;