//CONTENT - type features
$primarytext-color: rgb(255,255,255);
$secondarytext-color: white - 87;
$buttoncolor: tomato;
$placeholder-color: #9fa3a7;


//BREAKPOINTS

$small: 320px;//320px; //mobile
$medium: 600px; //tablet 
$large: 992px; //tablet
$extralarge: 1200px;//desktop 
$exextralarge: 1400px;//desktop 


//BG GRADIENT   
$startcolor: #62a7ff; //176%
$secondcolor: #435ab6; //77%
$thirdcolor:  #435ab6; //77%
$fourthcolor: #3f51ad; //66%
$fifthcolor: #142d4c; //-36%

$list: $fifthcolor 0%, $fourthcolor 66%, $thirdcolor 77%, $thirdcolor 77%, $startcolor 764%;



