.main 
{  
    &-container {
        @include flex;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        
    }
}

//IMAGE WRAPPER
.iphoneimage {
    @include size (221px, 194px);
    order: 2;
    margin-top: 10px;

    

     //RESPOSIVE TABLET- IMAGE
    @include responsive (lg)
    {
        @include position(absolute, 0, 15%);
        @include size (374px, 732px);
        margin-top: 72px;
        width: 80%;
    }

    //IMAGE 
    &-mobile 
    {
        @include size (198px, 184px);
        margin-left: 12px;
        margin-right: 11px;
        margin-top: 10px;
        object-fit: cover;
        object-position: 0% 0%;

        //RESPOSIVE TABLET - IMAGE
        @include responsive (lg)
        {
            @include size (374px, 702px);
            object-fit: contain;
        }
    }
}

//LOGO
.logo {
    @include size(132px, 42px);
    margin-top: 40px;
    //RESPONSIVE
    @include responsive(lg) {

        @include size(132px, 42px);
        @include position(absolute, 0, 55%);
        z-index: 1;
        margin-top: 164px;
    }
}

//CONTENT - MAIN INFO
.content 
{
    @include flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    order:3;
    margin-top: 23px;
    
    //RESPONSIVE LARGE
    @include responsive (lg) 
    {
        @include flex;
        @include flex-direction(column);
        @include align-items(flex-start);
        @include position(absolute, 0, 55%);
        text-align: left;
        margin-top: 235px;
    }
  

    //TITLE H1
    &-title 
    {
        margin-bottom: 9px;
        text-align: center;
        max-width: 100%;
        width: 100%;
        

        //RESPONSIVE TABLET 
        @include responsive (md) 
        {
            text-align: center; 
            margin-bottom: 9px;
            width: 60%;
        }

        //RESPONSIVE TBLET- TITLE
        @include responsive (lg) 
        {
            text-align: left; 
            margin-bottom: 26px;
            width: 90%;
        }

        //RESPONSIVE DESKTOP - TITLE
        @include responsive (xxl) 
        {
            text-align: left;  
            width: 80%;
        }

    }
    
    //SUBTITLE - p
    &-subtitle {
       
        text-align: center;
        width: 95%;
        margin-bottom: 26px;


        //RESPONSIVE TABLET - TITLE
        @include responsive (md) 
        {
            
            text-align: center; 
            margin-bottom: 26px;
            width: 50%;
        }

         //RESPONSIVE TABLET - SUBTITLE
        @include responsive (lg)
        {
       
            text-align: left; 
            width: 80%;  
            margin-bottom: 46px;
        }

        //RESPONSIVE DESKTOP - TITLE
        @include responsive (xxl) 
        {
            text-align: left;  
            width: 70%;
        }
    }
}


