html {
    //@include linearGradient(180deg, $list); 
   @include linearGradient(289deg, $list); 
    
    background-repeat: no-repeat;
    min-height: 100%;
    min-height: 780px;

    @include responsive (desktop) {
        background-size: 100% 95%;    
    }
} 
   
body {
    font-family: 'Segoe UI Local', 'Segoe UI Web (West European)';
}

h1 {
    font-weight: 100;
    color: $primarytext-color;
    @include responsiveFont(24px, 24, 320px, 1600); 
    line-height: 1.21;
    margin: 0;
}

p {
    @include responsiveFont(16px, 8, 320px, 1600);
    font-weight: 300;
    color: $secondarytext-color;
    margin-bottom: 48px;
    margin: 0;
    line-height: 1.5;
}
