html {
    //@include linearGradient(180deg, $list); 
   //@include linearGradient(289deg, $list); 
   @include linearGradient(to top left, $list); 
    height: 100%;   
    background-repeat: no-repeat;
    min-height: 100%;
    max-width: 100%;
   margin: 0;
   padding: 0;

    @include responsive (lg) {
        background-size: 100% 85%; 
        @include linearGradient(to bottom right, $list);   
        background-repeat: no-repeat; 
    }
    @include responsive (xl) {
        background-size: 100% 82%; 
    }
  
    @include responsive (xxl) {
        background-size: 100% 82%; 
    }
  
    
} 
   
body {
   
    font-family: 'Segoe UI Local', 'Segoe UI Web (West European)';
}

h1 {
    font-weight: 100;
    color: $primarytext-color;
    color: -webkit-text-fill-color($primarytext-color);
    text-decoration-color:$primarytext-color;
    @include responsiveFont(24px, 24, 320px, 1600); 
    line-height: 1.21;
    margin: 0;
}

p {
    @include responsiveFont(16px, 8, 320px, 1600);
    font-weight: 300;
    color: $secondarytext-color;
    text-decoration-color:$primarytext-color;
    line-height: 1.5;
    margin: 0;
    
}
